body {
    width: 100%;
    margin: 0;
    text-align: center;
}

h1 {
    display: block;
    font-size: 9rem;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#wrapper > p {
    text-align:center;
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em ;
    margin: 1em;
    color: #d9480f;
}

#wrapper :nth-child(25) {
    color: black;
    border: 1px solid black;
}

#wrapper {
    height: 70%;
    max-height: 70%;
    padding: 0.5% 1%;
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
    width: 55%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 8rem;
    display: grid;
    align-content: center;
    justify-content: space-evenly;
    grid-template: repeat(6, 1fr) / repeat(7, 1fr);
    /* innymi słowy:
    grid-template-rows: repeat(6,1fr); 
    grid-template-columns: repeat(7,1fr); */
    grid-auto-rows: 1fr;
    grid-template-areas: 
    ". . . . first second third"
    "fourth fiveth sixth seventh eighth nineth tenth"
    "eleventh twelth thirteenth fourteenth fiveteenth sixteenth seventeenth"
    "eighteenth nineteenth twentieth twentyfirst twentysecound twentythird twenthfourth"
    "twentyfiveth twentyfiveth twentysixth twentyseventh twentyeighth  . ."
    "twentyfiveth twentyfiveth . . . . ."
    ;
}

div :nth-child(1) { grid-area: first}
div :nth-child(2) { grid-area: second}
div :nth-child(3) { grid-area: third}
div :nth-child(4) { grid-area: fourth}
div :nth-child(5) { grid-area: fiveth}
div :nth-child(6) { grid-area: sixth}
div :nth-child(7) { grid-area: seventh}
div :nth-child(8) { grid-area: eighth}
div :nth-child(9) { grid-area: nineth}
div :nth-child(10) { grid-area: tenth}
div :nth-child(11) { grid-area: eleventh}
div :nth-child(12) { grid-area: twelth}
div :nth-child(13) { grid-area: thirteenth}
div :nth-child(14) { grid-area: fourteenth}
div :nth-child(15) { grid-area: fiveteenth}
div :nth-child(16) { grid-area: sixteenth}
div :nth-child(17) { grid-area: seventeenth}
div :nth-child(18) { grid-area: eighteenth}
div :nth-child(19) { grid-area: nineteenth}
div :nth-child(20) { grid-area: twentieth}
div :nth-child(21) { grid-area: twentyfirst}
div :nth-child(22) { grid-area: twentysecound}
div :nth-child(23) { grid-area: twentythird}
div :nth-child(24) { grid-area: twenthfourth}
div :nth-child(25) { grid-area: twentyfiveth}
div :nth-child(26) { grid-area: twentysixth}
div :nth-child(27) { grid-area: twentyseventh}
div :nth-child(28) { grid-area: twentyeighth}
